<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
</head>

<body>

<div class="mao-header" th:fragment="header">

    <div id="user-note-title" class="user-note-title" title="点击设置" onclick="note_set()">
        <span>今日说说：</span><br>
    </div>
    <div id="user-function" class="user-function"></div>
    <div id="sys-function-zzc" class="mao-box-zzc" onclick="sys_function_cancel()">
        <div id="sys-function">
            <div>
                <a href="javascript:trans_user_intro()">个人资料</a>
            </div>
            <div>
                <a href="javascript:void(0)">BUG反馈</a>
            </div>
            <div>
                <a href="javascript:logout()">退出登录</a>
            </div>
        </div>
    </div>

    <!-- user note edit box -->
    <div id="user-note-edit" class="mao-box-zzc" style="display: none">
        <div class="mao-box-point">
            <div class="mao-box mao-s-box">
                <div class="mao-box-title">
                    <i class="fa fa-commenting warn"></i>
                    <span>用户便签修改</span>
                    <i class="fa fa-times mao-box-close" onclick="user_note_close()"></i>
                </div>
                <div class="mao-box-content mao-s-box-content" style="font-size: 15px;">
                    <label for="user-note-data">新的便签：</label><br><br>
                    <textarea id="user-note-data" style="height: 100px;width: 560px;"></textarea>
                </div>
                <div class="mao-box-bottom">
                    <button class="yes" onclick="user_note_update()">保存</button>
                    <button class="cancel" onclick="user_note_close()">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>