<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mao.mapper.sys.SystemMapper">

    <select id="getRoleByUserLogin" resultType="com.mao.entity.sys.Role">
        SELECT b.`id`,b.`name`
        FROM sys_user AS a
        LEFT JOIN sys_role AS b ON a.`user_role` = b.`id`
        WHERE a.`user_login` = #{name}
    </select>

    <select id="getPermissionByRoleId" resultType="com.mao.entity.sys.Permission">
        SELECT a.`id`,a.`url`
        FROM sys_permission AS a
        LEFT JOIN sys_role_permission_ref AS b ON a.`id` = b.`per_id`
        WHERE b.`role_id` = #{id}
    </select>
    
    <select id="getRoles" resultType="com.mao.entity.sys.Role">
        SELECT `id`,`name`,`intro` FROM sys_role
    </select>

    <insert id="saveRole" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.mao.entity.sys.RoleDo">
        INSERT INTO sys_role(`name`,`intro`)
        VALUES(#{name},#{intro})
    </insert>

    <update id="updateRole" parameterType="com.mao.entity.sys.RoleDo">
        UPDATE sys_role SET `name` = #{name},`intro` = #{intro} WHERE `id` = #{id}
    </update>

    <select id="getCountByRoleName" resultType="java.lang.Integer">
        SELECT COUNT(`id`) FROM sys_role WHERE `name` = #{name}
        <if test="id > 0">
            AND `id` != #{id}
        </if>
    </select>
    
    <select id="getPermissionIdsByRoleId" resultType="java.lang.Integer">
        SELECT per_id FROM sys_role_permission_ref WHERE role_id = #{role}
    </select>
    
    <insert id="savePermissions">
        INSERT INTO sys_role_permission_ref(`role_id`,`per_id`) VALUES
        <foreach collection="ids" item="id" separator=",">
            (#{role},#{id})
        </foreach>
    </insert>
    
    <delete id="delPermissionByRoleId" parameterType="java.lang.Integer">
        DELETE FROM sys_role_permission_ref WHERE role_id = #{role}
    </delete>

</mapper>