<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>角色权限管理</title>
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/dark.css}">
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<script th:src="@{/static/js/jquery-1-11-3.js}"></script>
<body>
<div class="dark">
    <div th:replace="common/header::header"></div><!-- header -->
    <div th:replace="common/side::side"></div><!-- side -->
    <div class="mao-body">
        <div class="mao-sign">
            <span>系统管理</span><span>/</span><span>角色权限管理</span>
        </div>
        <div class="mao-search">
            <button class="green" onclick="save()">
                <i class="fa fa-plus"></i><span>新增</span>
            </button>
            <button class="green" onclick="flush()">
                <i class="fa fa-refresh"></i><span>刷新</span>
            </button>
        </div>
        <div class="mao-data">
            <table id="role-data" border="1" cellspacing="0" cellpadding="0" width="98%">
                <tr>
                    <th width="15%">序号</th>
                    <th width="15%">名称</th>
                    <th width="40%">介绍</th>
                    <th width="30%">操作</th>
                </tr>
            </table>
        </div>
        <div class="mao-page">
            <span>
                数据已全部显示
            </span>
        </div>
    </div>
</div>
</body>
<script th:src="@{/static/js/util/ajax-redirect.js}"></script>
<script th:src="@{/static/js/util/pop.js}"></script>
<script th:src="@{/static/js/header.js}"></script>
<script th:src="@{/static/js/sys/permission.js}"></script>
</html>