<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/dark.css}">
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<script th:src="@{/static/js/jquery-1-11-3.js}"></script>
<body>
<div class="dark">
    <div th:replace="common/header::header"></div><!-- header -->
    <div th:replace="common/side::side"></div><!-- side -->
    <div class="mao-body">
        <h1 class="title-tips">用户管理页面</h1>
    </div>
</div>
</body>

</html>