<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
</head>

<body>
<div id="login">
    <label for="name">用户名：</label><input id="name" type="text" name="u">
    <label for="pass">密码：</label><input id="pass" type="text" name="p">
    <button onclick="login()">登录</button>
</div>
</body>
<script th:src="@{/static/js/jquery-1-11-3.js}"></script>
<script>
    function login() {
        var u = $("#name").val();
        var p = $("#pass").val();
        $.ajax({
            url:'login',
            type:'post',
            data:{"u":u,"p":p},
            success:function (data) {
                console.log(data);
            }
        });
    }
</script>
</html>