#permission-intro,#permission-edit{
    display: none;
}
.permission-edit-table{
    height: 418px;
}
.permission-edit-table td{
    vertical-align: top;
    padding-left: 10px;
}
.permission-edit-table textarea{
    height: 80px;
}
.permission-edit-table .permission-ztree-td{
    border-left: 1px solid #999;
}
.permission-edit-table td label{
    display: block;
    margin-top: 30px;
}
.dark .ztree *{
    font-size: 13px;
}
.dark .ztree li a{
    color: #f4f4f4;
    height: 18px;
    font-weight: 200;
}
.dark .ztree li a.curSelectedNode {
    background-color: #666;
    border: 1px #888 solid;
}